{% extends 'nav.html' %}

{% block content %}
    <h1>Booking Food Options</h1>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Booking</th>
                <th scope="col">Booked date</th>

                <th scope="col">Food Option</th>
                <th scope="col">Count</th>
                <th scope="col">Served</th>
            </tr>
        </thead>
        <tbody>
            {% for booking_food_option in booking_food_options %}
                <tr>
                    <td>{{ booking_food_option.booking }}</td>
                    <td>{{ booking_food_option.booking.date }}</td>

                    <td>{{ booking_food_option.food_option }}</td>
                    <td>{{ booking_food_option.count }}</td>
                    <td>{% if booking_food_option.served %}Yes{% else %}No{% endif %}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="4">No booking food options found.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
