{% extends 'base.html' %}
{% load static %}

{% block content %}
<!DOCTYPE html>
<html>
<head>
    <title>Submit a Review</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <style>
        .star-rating {
            display: inline-block;
            font-size: 1.2em;
            color: #ffc107;
        }
        #submit-review-form label {
            margin-top: 5%;
            font-weight: bold;
        }
    </style>
</head>
<body style="background-image:url('../static/images/x2.jpg');">

<div class="container">
    <br>
    <br>
    <h1>Submit a Review</h1>
    <hr>
    <form id="submit-review-form" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="review-text">Review:</label>
            <textarea class="form-control" id="review-text" name="review_text" rows="5" required></textarea>
        </div>
        <div class="form-group">
            <label for="rating">Rating:</label>
            
            <div class="star-rating">
                <input type="radio" name="rating" id="rating1" value="1" required>
                <label for="rating1">&#9734;</label>
                <input type="radio" name="rating" id="rating2" value="2" required>
                <label for="rating2">&#9734;</label>
                <input type="radio" name="rating" id="rating3" value="3" required>
                <label for="rating3">&#9734;</label>
                <input type="radio" name="rating" id="rating4" value="4" required>
                <label for="rating4">&#9734;</label>
                <input type="radio" name="rating" id="rating5" value="5" required>
                <label for="rating5">&#9734;</label>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
</body>
</html>
{% endblock %}