<!DOCTYPE html>
<html>
<head>
	<title>Ticket</title>
</head>
<body>
	<h1>Ticket Details</h1>
	<p>Booking ID: {{ booking.id }}</p>
	<p>Booking Date: {{ booking.date }}</p>
	<p>Adult Package Name: {{ booking.p1_id.name }}</p>
	<p>Adult Package Price: {{ booking.p1_id.price }}</p>
	{% if booking.p2_id %}
		<p>Child Package Name: {{ booking.p2_id.name }}</p>
		<p>Child Package Price: {{ booking.p2_id.price }}</p>
	{% endif %}
	<p>Number of Adult: {{ booking.count_adult }}</p>
	<p>Number of Child: {{ booking.count_child }}</p>
	<p>Food: {{ booking.food }}</p>
	<p>Total Price: {{ booking.total_price }}</p>
	<p>Applied Offers: {{ booking.applied_offers }}</p>
	<a href="{% url ' 'download_ticket' booking.id %}" download><button>Download Ticket PDF</button></a>
</body>
</html>
